@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand:wght@300&family=Roboto+Serif:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Karla:wght@300&family=Lato:ital,wght@1,300&family=Reenie+Beanie&display=swap');
*{
    padding: 0;
    box-sizing: 0;
    font-family: 'Karla', sans-serif;
}
.navbar-brand>img{
  height: 80px;
}
#contact{
    background-color: grey;
}

#contact-banner{
background-image: url(../assests/contact-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 230px
}
#contact-details,.contact-title {
  font-family: 'Roboto Serif', serif;
}
#contact-form{
  background-color: #f9f9f9;
}
#contact-banner >div{
    text-shadow: 0 0 5px black;
}
.form-text{
  font-size: .7em;
}
#form-btn> .btn{
  padding: 3px 20px 3px;
  
}

#footer-links a{
  text-decoration: none;
  color: white;
}
#footer-text  p{
  text-decoration: none;
  color: #808080;
}
#footer-icon a{
  color: white;
  margin: auto;
}
